.dashboard {
  border: #e0e0e0 1px solid;
}
.main {
  display: flex;
  min-height: calc(100vh - 70px);
}
.side_menu {
  width: 20%;
  background-color: #fff;
}
.admin_pages {
  width: 80%;
  background-color: #efeff0;
}
