.products {
  margin: 100px 0;
  min-height: calc(100vh - 200px);
}
.products nav ul {
  margin: 50px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.products ul li button {
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 20px;
}
.inactive {
  background: #fff;
  border: #003585 solid 1px;
  color: #003585;
}
.active {
  background: #a7f65c;
  color: #fff;
  border: solid 1px #a7f65c;
}
.all_products {
  display: flex;
  flex-wrap: wrap;
}
