.home {
  min-height: calc(100vh - 200px);
}
.home_top {
  width: 100%;
  height: 500px;
  background-color: #003585;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.home_shopNow {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.home_shopNow h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 500;
  line-height: 55px;
}
.home_shopNow h2 b {
  font-weight: 700;
  display: block;
}
.home_shopNow button {
  width: 140px;
  height: 50px;
  border-radius: 25px;
  margin: 0 5px;
}
.shop_now {
  border: none;
}
.veiw_more {
  background-color: inherit;
  color: #a7f65c;
  border: #a7f65c 1px solid;
}
.home_img {
  width: 40%;
}
.home_img img {
  width: 90%;
}
.home_product {
  margin: 40px 0;
}
.home_nav {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  color: #003585;
}

.home_nav nav ul {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.home_nav nav ul li button,
.home_seeAll {
  margin: 0 10px;
  border: #003585 solid 1px;
  padding: 5px 10px;
  border-radius: 20px;
  background: #fff;
  font-size: 20px;
  color: #003585;
}
.home_seeAll {
  margin: 50px;
}
.popular_products {
  display: flex;
  flex-wrap: wrap;
}
.home_nav nav ul li button:focus {
  background-color: #a7f65c;
  color: #fff;
  border-color: #a7f65c;
}
.home_ad {
  width: 100%;
}
.home_ad img {
  width: 100%;
}

.home_news {
  margin: 100px 0;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.news_left {
  margin: 10px;
  width: calc(50% - 10px);
  height: 100%;
  border: 1px solid #c8c8c8;
  border-radius: 20px;
}
.news_right {
  width: calc(50% - 10px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  gap: 10px;
}
.news_top,
.news_bot {
  border: 1px solid #c8c8c8;
  width: 100%;
  height: calc(50% - 10px);
  border-radius: 20px;
}
.home_brand {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1080px) {
  .popular_products {
    justify-content: center;
  }
}
@media screen and (max-width: 950px) {
  .popular_products {
    justify-content: center;
  }
  .home_nav {
    width: calc(100% - 40px);
    display: block;
  }
  .home_nav nav ul {
    width: 100%;
    display: block;
  }
  .home_nav nav ul li {
    width: 100%;
  }
  .home_nav nav ul li button,
  .home_seeAll {
    margin: 5px 0;
    width: 100%;
  }
  .home_brand {
    display: none;
  }
}
